body,html{
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  width:100%;
  height:100%;
}